services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
      args:
        NEXT_PUBLIC_BACKEND_URL: http://localhost:8080
    depends_on:
      - backend
    ports:
      - "3000:3000"
