
@import "tailwindcss";

/* Global defaults */
:root {
  --bg: #2a3960;
  --fg: #e6e8eed1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);

  /* modern font stack */
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";

  /* default spacing */
  line-height: 1.5;
}