
@import "tailwindcss";

/* Global defaults */
:root {
  --bg: #2a3960;
  --fg: #e6e8eed1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  /* default spacing */
  line-height: 1.5;
}